{% include '@SyliusUi/_javascripts.html.twig' with {'path': 'bundles/monsieurbizsyliusricheditorplugin/js/rich-editor.js'} %}
{% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'bundles/monsieurbizsyliusricheditorplugin/css/rich-editor.css'} %}

{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

<div class="modal" id="monsieurbiz-rich-editor-confirmation-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{ 'sylius.ui.confirm_your_action'|trans }}
            </div>
            <div class="modal-body text-center">
                <p>{{ 'sylius.ui.are_your_sure_you_want_to_perform_this_action'|trans }}</p>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                        {{ 'sylius.ui.no_label'|trans }}
                    </button>
                    <button class="btn btn-success" type="button" id="monsieurbiz-rich-editor-confirmation-button" data-dismiss="modal">
                        {{ 'sylius.ui.yes_label'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="monsieurbiz-rich-editor-actions" type="x-tmpl-mustache">
{% verbatim %}
<div class="text-center compact tiny menu pt-6 pb-6">
    <button data-position="{{position}}" class="btn btn js-uie-add" type="button">
        {% endverbatim %}
            {{ icon({ icon: 'plus', class: 'icon' }) }}
            {{ "monsieurbiz_richeditor_plugin.form.add"|trans }}
        {% verbatim %}
    </button>
    <button data-position="{{position}}" class="btn btn js-uie-paste d-none" type="button">
        {% endverbatim %}
            {{ icon({ icon: 'archive', class: 'icon' }) }}
            {{ "monsieurbiz_richeditor_plugin.form.paste_from_clipboard"|trans }}
        {% verbatim %}
    </a>
</div>
{% endverbatim %}
</script>

<script id="monsieurbiz-rich-editor-ui-element" type="x-tmpl-mustache">
{% verbatim %}
    <div class="container p-4 border js-uie-element">
        <div
            class="uie-flex uie-flex-cross-center uie-flex-main-between uie-w-full uie-mb-sm sm:uie-flex-column">
            <h3 class="uie-m-0">
                <i class="{{icon}} icon"></i>
                {{title}}
                {{#disabled}}<span class="ui label">{% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.ui.disabled'|trans }}{% verbatim %}</span>{{/disabled}}
            </h3>
            <div class="btn-group" role="group">
                <button class="btn btn-sm btn-outline-danger js-uie-delete" type="button" data-tooltip="{% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.form.delete'|trans }}{% verbatim %}" data-inverted>
                    {% endverbatim %}{{ icon({ icon: 'trash_x', class: 'icon' }) }}{% verbatim %}
                </button>
                <button class="btn btn-sm btn btn-outline-success js-uie-edit" type="button" data-tooltip="{% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.form.edit'|trans }}{% verbatim %}" data-inverted>
                    {% endverbatim %}{{ icon({ icon: 'pencil', class: 'icon' }) }}{% verbatim %}
                </button>
                <button class="btn btn-sm btn-outline-dark js-uie-up" type="button" data-tooltip="{% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.form.move_up'|trans }}{% verbatim %}" data-inverted>
                    {% endverbatim %}{{ icon({ icon: 'chevron_up', class: 'icon' }) }}{% verbatim %}
                </button>
                <button class="btn btn-sm btn-outline-dark js-uie-down" type="button" data-tooltip="{% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.form.move_down'|trans }}{% verbatim %}" data-inverted>
                    {% endverbatim %}{{ icon({ icon: 'chevron_down', class: 'icon' }) }}{% verbatim %}
                </button>
                <button class="btn btn-sm btn btn-outline-info js-uie-copy d-none" type="button" data-alternate-text="{% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.form.copied'|trans }}{% verbatim %}" data-tooltip="{% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.form.copy'|trans }}{% verbatim %}" data-inverted>
                    {% endverbatim %}{{ icon({ icon: 'mail', class: 'icon' }) }}{% verbatim %}
                </button>
            </div>
        </div>
        <div class="container fluid js-uie-preview">{{{preview}}}</div>
    </div>
{% endverbatim %}
</script>

<script id="monsieurbiz-rich-editor-ui-elements-container" type="x-tmpl-mustache">
<div class="container border p-1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="btn-group" role="group">
            <button class="btn btn-sm btn btn-outline-info js-uie-tools-copy-all d-none" type="button" data-alternate-text="{{ 'monsieurbiz_richeditor_plugin.form.copied'|trans }}" data-tooltip="{{ "monsieurbiz_richeditor_plugin.form.copy_all_from_clipboard"|trans }}">
                {{ icon({ icon: 'mail', class: 'icon' }) }}
            </button>
            <button class="btn btn-sm btn-outline-success js-uie-tools-paste-all d-none" type="button" data-tooltip="{{ "monsieurbiz_richeditor_plugin.form.paste_all_from_clipboard"|trans }}">
                {{ icon({ icon: 'archive', class: 'icon' }) }}
            </button>
            <button class="btn btn-sm btn-outline-danger js-uie-tools-trash-all" type="button" data-tooltip="{{ "monsieurbiz_richeditor_plugin.form.trash_all"|trans }}">
                {{ icon({ icon: 'trash_x', class: 'icon' }) }}
            </button>
        </div>
    </div>
    <div class="js-uie-container">
    </div>
</div>
</script>

<script id="monsieurbiz-rich-editor-ui-element-card" type="x-tmpl-mustache">
{% verbatim %}
<div class="col uie-card js-uie-new p-2 m-1 border">
    <div class="content left aligned">
        <div class="h3 text-center">
            {{ icon({ icon: 'icon', class: 'icon' }) }}
            {{title}}
        </div>
        {{#wireframe}}
            <div class="wireframe">
                {{& wireframeHtml }}
            </div>
        {{/wireframe}}
</div>
    </div>
    <div class="extra content right aligned">
        {{#tags}}
        <span class="ui basic tiny label">{{.}}</span>
        {{/tags}}
    </div>
</div>
{% endverbatim %}
</script>

<script id="monsieurbiz-rich-editor-panels" type="x-tmpl-mustache">
{% verbatim %}
<div class="uie-panels js-uie-panels-{{uid}}">
    <div class="uie-panels__content js-uie-panels-selector-{{uid}}">
        <div class="uie-flex uie-flex-main-between uie-w-full uie-mb-md">
            <h2 class="h2 uie-heading uie-m-0" id="uie-heading-{{uid}}">
                {% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.form.select_ui_element'|trans }}{% verbatim %}
            </h2>
            <div class="uie-ml-md">
                <button class="btn btn js-uie-panels-close-{{uid}}" type="button">
                    {% endverbatim %}
                        {{ icon({ icon: 'trash_x', class: 'icon' }) }}
                        {{ 'monsieurbiz_richeditor_plugin.form.close'|trans }}
                    {% verbatim %}
                </button>
            </div>
        </div>

        <div class="container">
            <div class="row row-cols-auto uie-cards js-uie-cards-container">
            </div>
        </div>

        <div class="uie-panels__new js-uie-panels-new-{{uid}}">
        </div>
    </div>
</div>
{% endverbatim %}
</script>

<script id="monsieurbiz-rich-editor-panels-edit" type="x-tmpl-mustache">
{% verbatim %}
<div class="uie-panels js-uie-panels-edit-{{uid}}">
    <div class="uie-panels__content js-uie-content">
    </div>
</div>
{% endverbatim %}
</script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {

        let editors = document.querySelectorAll('[data-component="rich-editor"]');
        let uielements = {{ monsieurbiz_richeditor_list_elements() }};
        let fallBackLocale = '{{ app.request.locale | default(app.request.defaultLocale) | default(sylius_base_locale) | escape('js') }}';

        function setupRichEditor(editor, tags, locale) {
            let config = new MonsieurBizRichEditorConfig(
                editor,
                uielements,
                document.getElementById('monsieurbiz-rich-editor-ui-elements-container').innerHTML,
                document.getElementById('monsieurbiz-rich-editor-actions').innerHTML,
                document.getElementById('monsieurbiz-rich-editor-ui-element').innerHTML,
                document.getElementById('monsieurbiz-rich-editor-ui-element-card').innerHTML,
                document.getElementById('monsieurbiz-rich-editor-panels').innerHTML,
                document.getElementById('monsieurbiz-rich-editor-panels-edit').innerHTML,
                '{{ "monsieurbiz_richeditor_plugin.form.confirm_delete" |trans|e('js') }}',
                '{{ url("monsieurbiz_richeditor_admin_form_create", {"code": "__CODE__"})|e('js') }}',
                '{{ url("monsieurbiz_richeditor_admin_form_edit", {"code": "__CODE__"})|e('js') }}',
                '{{ url("monsieurbiz_richeditor_admin_form_render_elements")|e('js') }}',
                '{{ monsieurbiz_richeditor_get_default_element() }}',
                '{{ monsieurbiz_richeditor_get_default_element_data_field() }}',
                '{{ 'monsieurbiz_richeditor_plugin.error.ajax_error'|trans|e('js') }}',
                '{{ 'monsieurbiz_richeditor_plugin.error.unallowed_uielement'|trans|e('js') }}'
            );
            editor.manager = new MonsieurBizRichEditorManager(config, tags, locale);
        }

        editors.forEach(function (editor) {
            let tags = editor.dataset.tags.length === 0 ? [] : editor.dataset.tags.split(',')
            let locale = editor.dataset.locale ? editor.dataset.locale : fallBackLocale;
            setupRichEditor(editor, tags, locale);
        });

        // JQuery event triggered by @SyliusUiBundle/Resources/private/js/sylius-form-collection.js
        $(document).on('collection-form-add', (event, addedElement) => {
            document.dispatchEvent(new CustomEvent('rich-editor:reload', {
                detail: {
                    target: addedElement[0],
                }
            }));
        });

        document.addEventListener('monsieurBizRichEditorInitForm', (e) => {
            // Init dynamic editors
            let editors = document.querySelectorAll('[data-component="rich-editor"]:not([data-rich-editor-uid])');
            let manager = e.detail.manager;
            editors.forEach(function (editor) {
                setupRichEditor(editor, manager.tags, manager.locale); // Retrieve tags and locale from the parent manager
            });

            // image form collecion element does not work because of it
            // let form = e.detail.form;
            // $(form).find('[data-form-type="collection"]').CollectionForm();
            // $(form).find('.sylius-autocomplete').autoComplete();
        });
    });

    function monsieurBizRichEditorRemoveFile(inputName) {
        let input = document.querySelector('input[name="' + inputName + '"]');
        let fileInput = document.querySelector('input[name="change_' + inputName + '"]');
        input.parentElement.remove();
        fileInput.style.display = 'inline';
        fileInput.name = inputName;
    }
</script>
















<script type="text/javascript">
    function monsieurbizSyliusMediaManagerChooseFile(inputName, inputValue, folder)
    {
        let currentFolder = '';
        if (inputValue) {
            // Remove folder from input value
            if (folder && inputValue.indexOf(folder) === 0) {
                inputValue = inputValue.substr(folder.length + 1) // Remove the slash after (this is the +1)
            }
            currentFolder = inputValue.split('/')
            currentFolder.pop();
            currentFolder = currentFolder.join('/');
        }
        monsieurbizSyliusMediaManagerDisplayPath(inputName, folder, currentFolder);
    }

    function monsieurbizSyliusMediaManagerRemoveFile(inputName, confirmationMessage)
    {
        if (!confirm(confirmationMessage)) {
            return;
        }

        // Check input
        let input = document.querySelector("input[name='" + inputName + "']");
        if (!input) {
            alert('{{ 'monsieurbiz_sylius_media_manager.error.cannot_find_input' | trans | escape('js') }}')
            return;
        }

        // Remove input value
        input.value = '';

        let field = input.closest('.monsieurbiz-sylius-file-manager__field');
        if (field) {
            // Hide current file
            field.querySelector('.monsieurbiz-sylius-file-manager__current').classList.add('d-none');
            // Hide remove button
            field.querySelector('.monsieurbiz-sylius-file-manager__button-remove').classList.add('d-none');
        }
    }

    function monsieurbizSyliusMediaManagerDisplayPath(inputName, folder, path)
    {
        let req = new XMLHttpRequest();
        const params = new URLSearchParams({
            path: path,
            inputName: inputName,
            folder: folder,
        });
        req.onload = function(progress) {
            if (this.status === 200) {
                monsieurbizSyliusMediaManagerRemoveLoaderModal();
                var myModal = bootstrap.Modal.getInstance(document.getElementById('media-manager-modal'));
                if (myModal) {
                    myModal.hide()
                    myModal.dispose()
                }
                const modalWrapper = document.getElementById('media-manager-modal-wrapper');
                modalWrapper.innerHTML = this.responseText;
                var myModal = bootstrap.Modal.getOrCreateInstance(document.getElementById('media-manager-modal'), {
                    keyboard: false
                });
                myModal.show();
            } else {
                alert(this.responseText);
                monsieurbizSyliusMediaManagerRemoveLoaderModal();
            }
        };
        req.open("get", "{{ path('monsieurbiz_sylius_media_manager_admin_browser_list') }}?" + params.toString(), true);
        req.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        req.send();
        monsieurbizSyliusMediaManagerAddLoaderModal();
    }

    function monsieurbizSyliusMediaManagerConfirmFile(inputName, folder, path)
    {
        // Check input
        let input = document.querySelector("input[name='" + inputName + "']");
        if (!input) {
            alert('{{ 'monsieurbiz_sylius_media_manager.error.cannot_find_input' | trans | escape('js') }}')
            return;
        }

        // Check type of file given by the data attribute in form input
        let type = input.getAttribute('data-file-type');
        if (!type) {
            alert('{{ 'monsieurbiz_sylius_media_manager.error.cannot_find_type' | trans | escape('js') }}')
            return;
        }

        const params = new URLSearchParams({
            path: path,
            type: type,
            inputName: inputName,
            folder: folder,
        });
        let req = new XMLHttpRequest();
        req.onload = function(progress) {
            let response = JSON.parse(this.responseText);
            if (this.status === 200) {
                let path = response['path'];
                if (path) {
                    input.value = (folder ? (folder + '/') : '') + path;
                    monsieurbizSyliusMediaManagerCloseModal();
                    let imageField = input.closest('.monsieurbiz-sylius-file-manager__image-field');
                    if (imageField) {
                        let imageElement = imageField.querySelector('img');
                        imageElement.src = '/media/' + (folder ? (folder + '/') : '') + path; // @TODO do better
                        imageElement.closest('.monsieurbiz-sylius-file-manager__current').classList.remove('d-none');
                    }

                    let videoField = input.closest('.monsieurbiz-sylius-file-manager__video-field');
                    if (videoField) {
                        let videoElement = videoField.querySelector('video');
                        videoElement.src = '/media/' + (folder ? (folder + '/') : '') + path; // @TODO do better
                        videoElement.closest('.monsieurbiz-sylius-file-manager__current').classList.remove('d-none');
                    }

                    let fileField = input.closest('.monsieurbiz-sylius-file-manager__file-field');
                    if (fileField) {
                        let fileElement = fileField.querySelector('a');
                        fileElement.href = '/media/' + (folder ? (folder + '/') : '') + path; // @TODO do better
                        fileElement.innerHTML = (folder ? (folder + '/') : '') + path;// @TODO do better
                        fileElement.closest('.monsieurbiz-sylius-file-manager__current').classList.remove('d-none');
                    }

                    let audioField = input.closest('.monsieurbiz-sylius-file-manager__audio-field');
                    if (audioField) {
                        let audioElement = audioField.querySelector('audio');
                        let audioLinkElement = audioElement.querySelector('a');
                        audioElement.src = '/media/' + (folder ? (folder + '/') : '') + path; // @TODO do better
                        audioLinkElement.href = '/media/' + (folder ? (folder + '/') : '') + path; // @TODO do better
                        audioElement.closest('.monsieurbiz-sylius-file-manager__current').classList.remove('d-none');
                    }

                    let field = input.closest('.monsieurbiz-sylius-file-manager__field');
                    if (field) {
                        // Show remove button
                        let removeButton = field.querySelector('.monsieurbiz-sylius-file-manager__button-remove');
                        if (removeButton) {
                            removeButton.classList.remove('d-none');
                        }
                    }
                }
            } else {
                alert(response['error']);
                monsieurbizSyliusMediaManagerRemoveLoaderModal();
            }
        };
        req.open("get", "{{ path('monsieurbiz_sylius_media_manager_admin_browser_choose') }}?" + params.toString(), true);
        req.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        req.send();
        monsieurbizSyliusMediaManagerAddLoaderModal();
    }

    function mediaUploadFile(fileInput, inputName, folder, path)
    {
        let req = new XMLHttpRequest();

        let data = new FormData();
        data.append('folder', folder);
        data.append('path', path);
        data.append('file', fileInput.files[0]);

        req.onload = function(progress) {
            let response = JSON.parse(this.responseText);
            if (this.status === 200) {
                monsieurbizSyliusMediaManagerRemoveLoaderModal();
                monsieurbizSyliusMediaManagerDisplayPath(inputName, folder, path);
            } else {
                alert(response['error']);
                monsieurbizSyliusMediaManagerRemoveLoaderModal();
            }
        };
        req.open("post", "{{ path('monsieurbiz_sylius_media_manager_admin_browser_upload') }}", true);
        req.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        req.send(data);
        monsieurbizSyliusMediaManagerAddLoaderModal();
    }

    function monsieurbizSyliusMediaManagerCreateFolder(folderInput, inputName, folder, path)
    {
        let req = new XMLHttpRequest();

        let data = new FormData();
        data.append('folder', folder);
        data.append('path', path);
        data.append('newFolder', folderInput.value);

        req.onload = function(progress) {
            let response = JSON.parse(this.responseText);
            if (this.status === 200) {
                monsieurbizSyliusMediaManagerRemoveLoaderModal();
                monsieurbizSyliusMediaManagerDisplayPath(inputName, folder, path);
            } else {
                alert(response['error']);
                monsieurbizSyliusMediaManagerRemoveLoaderModal();
            }
        };
        req.open("post", "{{ path('monsieurbiz_sylius_media_manager_admin_browser_create_folder') }}", true);
        req.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        req.send(data);
        monsieurbizSyliusMediaManagerAddLoaderModal();
    }

    function monsieurbizSyliusMediaManagerDeleteFolder(inputName, folder, path, confirmationMessage)
    {
        if (!confirm(confirmationMessage)) {
            return;
        }

        let req = new XMLHttpRequest();

        let data = new FormData();
        data.append('folder', folder);
        data.append('path', path);

        req.onload = function(progress) {
            let response = JSON.parse(this.responseText);
            if (this.status === 200) {
                monsieurbizSyliusMediaManagerRemoveLoaderModal();
                monsieurbizSyliusMediaManagerDisplayPath(inputName, folder, response['parentFolder']);
            } else {
                alert(response['error']);
                monsieurbizSyliusMediaManagerRemoveLoaderModal();
            }
        };
        req.open("post", "{{ path('monsieurbiz_sylius_media_manager_admin_browser_delete_folder') }}", true);
        req.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        req.send(data);
        monsieurbizSyliusMediaManagerAddLoaderModal();
    }


    function monsieurbizSyliusMediaManagerDeleteFile(inputName, folder, path, confirmationMessage, confirmationMessageBis)
    {
        if (!confirm(confirmationMessage) || !confirm(confirmationMessageBis)) {
            return;
        }

        let req = new XMLHttpRequest();

        let data = new FormData();
        data.append('folder', folder);
        data.append('path', path);

        req.onload = function(progress) {
            let response = JSON.parse(this.responseText);
            if (this.status === 200) {
                monsieurbizSyliusMediaManagerRemoveLoaderModal();
                monsieurbizSyliusMediaManagerDisplayPath(inputName, folder, response['folder']);
            } else {
                alert(response['error']);
                monsieurbizSyliusMediaManagerRemoveLoaderModal();
            }
        };
        req.open("post", "{{ path('monsieurbiz_sylius_media_manager_admin_browser_delete_file') }}", true);
        req.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        req.send(data);
        monsieurbizSyliusMediaManagerAddLoaderModal();
    }

    function monsieurbizSyliusMediaManagerRenameFolder(folderInput, inputName, folder, path, confirmationMessage, confirmationMessageBis)
    {
        if (!confirm(confirmationMessage) || !confirm(confirmationMessageBis)) {
            return;
        }

        let req = new XMLHttpRequest();

        let data = new FormData();
        data.append('newName', folderInput.value);
        data.append('folder', folder);
        data.append('path', path);

        req.onload = function(progress) {
            let response = JSON.parse(this.responseText);
            if (this.status === 200) {
                monsieurbizSyliusMediaManagerRemoveLoaderModal();
                monsieurbizSyliusMediaManagerDisplayPath(inputName, folder, response['path']);
            } else {
                alert(response['error']);
                monsieurbizSyliusMediaManagerRemoveLoaderModal();
            }
        };
        req.open("post", "{{ path('monsieurbiz_sylius_media_manager_admin_browser_rename_folder') }}", true);
        req.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        req.send(data);
        monsieurbizSyliusMediaManagerAddLoaderModal();
    }

    function monsieurbizSyliusMediaManagerCloseModal()
    {
        var modal = bootstrap.Modal.getInstance(document.getElementById('media-manager-modal'))
        modal.hide();
        modal.dispose();
    }

    function monsieurbizSyliusMediaManagerAddLoaderModal()
    {
        document.querySelectorAll('.monsieurbiz-sylius-file-manager__loader').forEach(function(modal) {
            modal.classList.add('active');
        });
    }

    function monsieurbizSyliusMediaManagerRemoveLoaderModal()
    {
        document.querySelectorAll('.monsieurbiz-sylius-file-manager__loader').forEach(function(modal) {
            modal.classList.remove('active');
        });
    }
</script>


<style>
    .monsieurbiz-sylius-file-manager__modal > .content {
        height: 50vh;
        overflow-y: auto;
    }

    .monsieurbiz-sylius-file-manager__item:not(.monsieurbiz-sylius-file-manager__item-new-folder, .monsieurbiz-sylius-file-manager__item-rename-folder) {
        height: 30px;
    }

    .monsieurbiz-sylius-file-manager__item:not(.monsieurbiz-sylius-file-manager__item-new-folder, .monsieurbiz-sylius-file-manager__item-rename-folder) {
        cursor: pointer;
    }

    .monsieurbiz-sylius-file-manager__item:hover:not(.monsieurbiz-sylius-file-manager__item-new-folder, .monsieurbiz-sylius-file-manager__item-rename-folder) {
        background-color: #cce2ff;
    }

    .monsieurbiz-sylius-file-manager__modal .ui.list > .item > i.icon,
    .monsieurbiz-sylius-file-manager__modal .ui.list > .item > .icon + .content
    {
        vertical-align: middle;
    }
</style>
