{% form_theme form '@MonsieurBizSyliusRichEditorPlugin/Form/theme.html.twig' %}

{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="h2">
                {{ icon({ icon: 'eye', class: 'icon' }) }}
                {% if isEdition %}
                    {{ 'monsieurbiz_richeditor_plugin.form.edit_element' | trans({'%uiElementTitle%': uiElement.title | trans}) }}
                {% else %}
                    {{ 'monsieurbiz_richeditor_plugin.form.add_element' | trans({'%uiElementTitle%': uiElement.title | trans}) }}
                {% endif %}
                <blockquote class="blockquote">
                    {{ uiElement.description | trans }}
                </blockquote>
            </h2>
        </div>
        <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn js-uie-cancel" type="button">
                    {{ icon({ icon: 'trash_x', class: 'icon' }) }}
                    {{ 'monsieurbiz_richeditor_plugin.form.cancel' | trans }}
                </button>
                <button class="btn btn-primary button js-uie-save" type="button">
                    {{ icon({ icon: 'check', class: 'icon' }) }}
                    {{ 'monsieurbiz_richeditor_plugin.form.save' | trans }}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="uie-panels__inner ui segment form">
    {{ form(form, {'action': url('monsieurbiz_richeditor_admin_form_submit', {'code': uiElement.code, 'isEdition': isEdition})}) }}
</div>
